In [59]:
import os
import psycopg2
import pandas as pd
from mysql import connector
from pandas import DataFrame
from datetime import datetime
from dags.helpers.connections import Mysql, Postgresql

In [60]:
POSTGRE_HOST, POSTGRE_PORT, POSTGRE_DB_NAME, POSTGRE_USER, POSTGRE_PASSWORD = 'localhost', '5432', 'postgres', 'postgres', ''
MYSQL_HOST, MYSQL_PORT, MYSQL_DB_NAME, MYSQL_USER, MYSQL_PASSWORD = 'localhost', '3306', 'mmis', 'root', 'KhaiPhan2906'

def get_reference_table() -> DataFrame:
    """
    Description: Downloads reference table from PostgreSQL database.
    """
    ETL_MANAGER_DB = 'inventory_etl_manager'
    conn_obj = Postgresql(host=POSTGRE_HOST, port=POSTGRE_PORT, db_name=POSTGRE_DB_NAME, user_name=POSTGRE_USER, password=POSTGRE_PASSWORD)
    
    query = f"""SELECT * FROM {ETL_MANAGER_DB}.database_flow_reference_table"""
    ref_table = conn_obj.execute_query(query=query, return_data=True)
    conn_obj.close_connection()  # close connection to greenplum db
    return ref_table

ref_table = get_reference_table()

def extract():
    mysql = Mysql(host=MYSQL_HOST, port=MYSQL_PORT, db_name=MYSQL_DB_NAME, user_name=MYSQL_USER, password=MYSQL_PASSWORD)
    dfs = {}

    #print (ref_table)
    #print(ref_table['key_fields'].values[0])
    #print (f"select {ref_table['key_fields']} from {ref_table['source_schema']}.{ref_table['source_table']};")

    for idx, row in ref_table.iterrows():
        source_schema = row['source_schema']
        source_table = row['source_table']
        key_fields = row['key_fields']
        #query = f"select city, country, birthdate, yearly_income, gender, total_children, education, occupation from mmis.customer;"
        query = f"select {key_fields} from {source_schema}.{source_table};"
        print (source_table)
        data_df = mysql.execute_query(query=query, return_data=True)
        dfs[source_table] = data_df

    return dfs

dfs = extract()
#print(dfs['customer'].head(5))

Successfully connected to postgres!
Query successful
Connection is successfully terminated!
Successfully connected to mmis!
customer
Query successful
promotion
Query successful
product
Query successful
product_class
Query successful
store
Query successful
warehouse
Query successful
time_by_day
Query successful
inventory_fact_1997
Query successful
inventory_fact_1998
Query successful

In [61]:
def age(birthday):
    return 1999 - birthday.year - ((1, 1) < (birthday.month, birthday.day))

def age_category(age):
    if age in range (17,25):
        return "17 - 25"
    elif age in range (26, 35):
        return "26 - 35"
    elif age in range (36, 50):
        return "36 - 50"
    elif age in range (51, 64):
        return "51 - 64"
    elif age in range (65, 75):
        return "65 - 75"
    else:
        return ">75"

def transform_customer(data_df):
    data_df.dropna()
    data_df['age'] = data_df['birthdate'].apply(age)
    data_df['age_category'] = data_df['age'].apply(age_category)

    data_df = data_df.drop('birthdate', axis=1)

    #change position of age column
    temp_column = data_df.pop('age')
    data_df.insert(3, 'age', temp_column)
    #change position of age_category column
    temp_column = data_df.pop('age_category')
    data_df.insert(4, 'age_category', temp_column)

    return data_df


def transform_product(product_df: DataFrame, product_class_df: DataFrame):
    product_df.dropna()
    product_class_df.dropna()
    product_df = product_df.merge(product_class_df, how="inner", on=['product_class_id'])
    return product_df.drop(columns=['product_class_id'])

def transform_promotion(promotion_df: DataFrame):
    options = [110, 0] 
    promotion_df = promotion_df[promotion_df['promotion_district_id'].isin(options)]
    promotion_df = promotion_df.drop(columns=['promotion_district_id'])
    return promotion_df

def transform_store(store_df: DataFrame):
    store_df = store_df.drop(columns=['region_id'])
    return store_df

def transform_warehouse(warehouse_df: DataFrame):
    warehouse_df = warehouse_df.drop(columns=['warehouse_class_id'])
    return warehouse_df

def transform_time(time_df: DataFrame):
    return time_df

def transform_inventory(inventory_df: DataFrame, time_df: DataFrame, promotion_df: DataFrame):
    inventory_df = inventory_df[inventory_df['is_deleted'] == '0']
    inventory_df = inventory_df.drop(columns=['is_deleted'])
    inventory_time_df = inventory_df.merge(time_df, how="inner", on=['time_id'])

    #find promotion_id match time of inventory fact
    promotion_id_list = []
    for i_idx, i_row in inventory_time_df.iterrows():
        inventory_time = i_row['the_date']
        found = False
        for idx, row in promotion_df.iterrows():
            start_time = row['start_date']
            end_time = row['end_date']
            if (inventory_time >= start_time) and (inventory_time <= end_time):
                found = True
                promotion_id_list.append(row['promotion_id'])
                break
        if not found: 
            promotion_id_list.append(0)
    
    
    promotion_id_dict = {'promotion_id': promotion_id_list}
    inventory_df['promotion_id'] = promotion_id_list
    return inventory_df


def transform(dfs):
    transformed_dfs = {}
    transformed_dfs['customers'] = transform_customer(data_df=dfs['customer'])
    transformed_dfs['products'] = transform_product(dfs['product'], dfs['product_class'])
    transformed_dfs['promotions'] = transform_promotion(dfs['promotion'])
    transformed_dfs['stores'] = transform_store(dfs['store'])
    transformed_dfs['warehouses'] = transform_warehouse(dfs['warehouse'])
    transformed_dfs['time_by_day'] = transform_time(dfs['time_by_day'])
    transformed_dfs['inventory_fact'] = transform_inventory(dfs['inventory_fact_1997'], dfs['time_by_day'], transformed_dfs['promotions'])
    transformed_dfs['inventory_fact'] = pd.concat([transformed_dfs['inventory_fact'], transform_inventory(dfs['inventory_fact_1998'], dfs['time_by_day'], transformed_dfs['promotions'])], axis=0)
    return transformed_dfs


processed_df = transform(dfs)
#print(processed_df['customers'].head(5))

In [62]:
inventory_fact = processed_df['inventory_fact']
print(inventory_fact[inventory_fact['time_id'] == 369])

      product_id  time_id  warehouse_id  store_id  units_ordered  \
0            350      369             2         2             42
2           1397      369             2         2             87
3            267      369             2         2             94
4           1270      369             2         2             44
5            234      369             2         2             12
6           1370      369             2         2             15
7           1493      369             2         2             32
8            710      369             2         2             30
9            354      369             2         2             16
10           277      369             2         2             49
11            94      369             2         2             95
2776        1147      369            17        17             12
2777         498      369            17        17             12
2778        1301      369            17        17             91
2779         864      369            17        17             60
2780        1347      369            17        17             18
2781        1457      369            17        17            -31
2782        1540      369            17        17             80
2783        1291      369            17        17             70
2784         481      369            17        17             20
2785        1351      369            17        17             78
2786         714      369            17        17             55
3445        1182      369            23        23             13
3447         561      369            23        23             97
3448         965      369            23        23             99
3449         582      369            23        23             90
3450         172      369            23        23              0
3451         988      369            23        23              0
3452          99      369            23        23             76
3453          62      369            23        23            -30
3454         905      369            23        23             95

      units_shipped warehouse_sales warehouse_cost  supply_time store_invoice  \
0                42         23.9610        11.7409            6       13.7369
2                82         63.3204        22.1621            5       25.7080
3                94         28.8674        12.1243            5       13.8217
4                44         37.8752        13.6351            3       16.0894
5                 4          4.6440         1.7647            4        2.0823
6                15         13.5660         5.2907            5        6.1901
7                32         68.4288        24.6344            5       28.3296
8                30        -20.3490       -11.5989            4       13.2227
9                16         12.9600         6.6096            3        7.4028
10               49         56.6832        17.5718            5       20.2076
11               95         34.1620        12.9816            6       14.9288
2776             12          5.7936         3.3603            3        3.9652
2777             12         17.4420         8.5466            4        9.7431
2778             91         47.0470        21.1712            3       24.9820
2779             60         55.7460        31.2178            1       36.5248
2780              8          5.8056         2.5545            4        2.9121
2781             66         90.3804        37.9598            4       44.0334
2782             80        129.5360        73.8355            2       83.4341
2783             70         94.9900        32.2966            2       35.8492
2784             20         30.7800        17.8524            4       20.5303
2785             78         44.2884        15.5009            1       17.0510
2786             55         59.4000        35.6400            3       39.2040
3445             13          6.3700         3.1850            1        3.5672
3447             97         44.0671        17.1862            3       19.9360
3448             99         63.6174        24.8108            4       29.5249
3449             90        102.6000        35.9100            4       43.0920
3450             62        107.0368        58.8702            3       66.5233
3451             46         68.0846        27.9147            1       32.6602
3452             76         59.1888        24.8593            3       28.0910
3453             96        113.6832        54.5679            3       63.8444
3454             95        119.5290        46.6163            3       52.6764

      promotion_id
0               27
2               27
3               27
4               27
5               27
6               27
7               27
8               27
9               27
10              27
11              27
2776             0
2777             0
2778             0
2779             0
2780             0
2781             0
2782             0
2783             0
2784             0
2785             0
2786             0
3445             0
3447             0
3448             0
3449             0
3450             0
3451             0
3452             0
3453             0
3454             0

In [63]:
def load (processed_dfs):
    psql = Postgresql(host=POSTGRE_HOST, port=POSTGRE_PORT, db_name=POSTGRE_DB_NAME, user_name=POSTGRE_USER, password=POSTGRE_PASSWORD)

    for idx, row in ref_table.iterrows():
        destination_schema = row['destination_schema']
        destination_table = row['destination_table']
        target_fields = row['target_fields']
        if destination_table:
            psql.insert_values(processed_dfs[destination_table], destination_schema, destination_table, target_fields)

load (processed_df)

Successfully connected to postgres!
Columns to be inserted:  customer_id, city, country, age, age_category, yearly_income, gender, total_children, education, occupation
Columns in the data extracted:  ['customer_id', 'city', 'country', 'age', 'age_category', 'yearly_income', 'gender', 'total_children', 'education', 'occupation']
SQL query is generated at 2023-04-14 02:17:43.530060
START OF QUERY:
 INSERT INTO inventory_dwh.customers (customer_id, city, country, age, age_category, yearly_income, gender, total_children, education, occupation)
 VALUES (1, 'Tlaxiaco', 'Mexico', 37, '36 - 50', '$30K - $50K', 'F', 4, 'Partial High School', 'Skilled Manual'), (2, 'Sooke', 'Canada', 83, '>75', '$70K - $90K', 'M', 1, 'Partial High School', 'Professional'), (3, 'Issaquah', 'USA', 88, '>75', '$50K - $70K', 'F', 1, 'Bachelors Degree', 'Professional'), (4, 'Burnaby', 'Canada', 29, '26 - 35', '$10K - $30K', 'M', 4, 'Partial High School', 'Skilled Manual'), (5, 'Novato', 'USA', 47, '36 - 50', '$30K - $50K', 'F', 3, 'Partial College', 'Manual'), (6, 'Lynnwood', 'USA', 56, '51 - 64', '$70K - $90K', 'F', 3, 'Bachelors Degree', 'Professional'), (7, 'Tlaxiaco', 'Mexico', 49, '36 - 50', '$30K - $50K', 'F', 2, 'Partial High School', 'Manual'), (8, 'San Andres', 'Mexico', 76, '>75', '$50K - $70K', 'M', 2, 'Bachelors Degree', 'Professional'), (9, 'Richmond', 'Canada', 19, '17 - 25', '$10K - $30K', 'M
END OF QUERY:
', 84, '>75', '$110K - $130K', 'F', 4, 'Partial High School', 'Professional'), (10273, 'Puyallup', 'USA', 85, '>75', '$70K - $90K', 'F', 3, 'Bachelors Degree', 'Professional'), (10274, 'Torrance', 'USA', 60, '51 - 64', '$50K - $70K', 'M', 4, 'Bachelors Degree', 'Professional'), (10275, 'Lebanon', 'USA', 52, '51 - 64', '$30K - $50K', 'M', 1, 'High School Degree', 'Manual'), (10276, 'Victoria', 'Canada', 66, '65 - 75', '$30K - $50K', 'M', 0, 'Partial College', 'Professional'), (10277, 'Lake Oswego', 'USA', 24, '17 - 25', '$90K - $110K', 'M', 4, 'Partial High School', 'Management'), (10278, 'N. Vancouver', 'Canada', 72, '65 - 75', '$30K - $50K', 'F', 0, 'Partial College', 'Professional'), (10279, 'Lincoln Acres', 'USA', 85, '>75', '$130K - $150K', 'M', 3, 'Partial High School', 'Management'), (10280, 'Puyallup', 'USA', 30, '26 - 35', '$150K +', 'F', 5, 'High School Degree', 'Professional'), (10281, 'Vancouver', 'Canada', 84, '>75', '$50K - $70K', 'F', 5, 'Bachelors Degree', 'Management');
Query successful
Ingestion process has completed!
Columns to be inserted:  promotion_id, promotion_name, media_type, cost, start_date, end_date
Columns in the data extracted:  ['promotion_id', 'promotion_name', 'media_type', 'cost', 'start_date', 'end_date']
SQL query is generated at 2023-04-14 02:17:43.800059
START OF QUERY:
 INSERT INTO inventory_dwh.promotions (promotion_id, promotion_name, media_type, cost, start_date, end_date)
 VALUES (0, 'No Promotion', 'No Media', 0.0000, Null, Null), (1, 'High Roller Savings', 'Product Attachment', 14435.0000, '1996-01-03 00:00:00', '1996-01-06 00:00:00'), (2, 'Green Light Special', 'Product Attachment', 8907.0000, '1996-01-18 00:00:00', '1996-01-20 00:00:00'), (3, 'Wallet Savers', 'Radio', 12512.0000, '1996-02-02 00:00:00', '1996-02-05 00:00:00'), (4, 'Weekend Markdown', 'In-Store Coupon', 11256.0000, '1996-02-13 00:00:00', '1996-02-15 00:00:00'), (5, 'Bag Stuffers', 'Sunday Paper, Radio', 12275.0000, '1996-02-28 00:00:00', '1996-03-01 00:00:00'), (6, 'Save-It Sale', 'Daily Paper', 9472.0000, '1996-03-14 00:00:00', '1996-03-16 00:00:00'), (7, 'Fantastic Discounts', 'Sunday Paper, Radio, TV', 14278.0000, '1996-03-29 00:00:00', '1996-04-02 00:00:00'), (8, 'Price Winners', 'Sunday Paper, Radio', 14731.0000, '1996-04-10 00:00:00', '1996-04-13 00:00:00'), (9, 'Dimes O
END OF QUERY:
0:00', '1998-07-31 00:00:00'), (69, 'Price Destroyers', 'TV', 11076.0000, '1998-08-12 00:00:00', '1998-08-14 00:00:00'), (70, 'Two Day Sale', 'Daily Paper, Radio, TV', 10929.0000, '1998-08-27 00:00:00', '1998-08-30 00:00:00'), (71, 'Coupon Spectacular', 'Daily Paper', 5736.0000, '1998-09-08 00:00:00', '1998-09-09 00:00:00'), (72, 'Wallet Savers', 'Sunday Paper', 13533.0000, '1998-09-23 00:00:00', '1998-09-27 00:00:00'), (73, 'Shelf Clearing Days', 'TV', 5522.0000, '1998-10-06 00:00:00', '1998-10-10 00:00:00'), (74, 'Savings Galore', 'TV', 10756.0000, '1998-10-21 00:00:00', '1998-10-23 00:00:00'), (75, 'Save-It Sale', 'In-Store Coupon', 6763.0000, '1998-11-06 00:00:00', '1998-11-08 00:00:00'), (76, 'Price Slashers', 'Daily Paper, Radio', 6270.0000, '1998-11-20 00:00:00', '1998-11-23 00:00:00'), (77, 'Double Down Sale', 'Radio', 13132.0000, '1998-12-01 00:00:00', '1998-12-04 00:00:00'), (78, 'Mystery Sale', 'Sunday Paper, Radio', 13747.0000, '1998-12-16 00:00:00', '1998-12-17 00:00:00');
Query successful
Ingestion process has completed!
Columns to be inserted:  product_id, brand_name, product_name, sku, srp, gross_weight, net_weight, recyclable_package, low_fat, units_per_case, cases_per_pallet, shelf_width, shelf_height, shelf_depth, product_subcategory, product_category, product_department, product_family
Columns in the data extracted:  ['product_id', 'brand_name', 'product_name', 'sku', 'srp', 'gross_weight', 'net_weight', 'recyclable_package', 'low_fat', 'units_per_case', 'cases_per_pallet', 'shelf_width', 'shelf_height', 'shelf_depth', 'product_subcategory', 'product_category', 'product_department', 'product_family']
SQL query is generated at 2023-04-14 02:17:43.920503
START OF QUERY:
 INSERT INTO inventory_dwh.products (product_id, brand_name, product_name, sku, srp, gross_weight, net_weight, recyclable_package, low_fat, units_per_case, cases_per_pallet, shelf_width, shelf_height, shelf_depth, product_subcategory, product_category, product_department, product_family)
 VALUES (1, 'Washington', 'Washington Berry Juice', 90748583674, 2.8500, 8.39, 6.39, 0, 0, 30, 14, 16.9, 12.6, 7.4, 'Juice', 'Pure Juice Beverages', 'Beverages', 'Drink'), (8, 'Washington', 'Washington Orange Juice', 89770532250, 2.5900, 8.97, 6.97, 1, 0, 27, 7, 7.56, 11.8, 8.92, 'Juice', 'Pure Juice Beverages', 'Beverages', 'Drink'), (9, 'Washington', 'Washington Cranberry Juice', 49395100474, 2.4200, 7.14, 5.13, 0, 0, 34, 7, 18.5, 16.1, 14.4, 'Juice', 'Pure Juice Beverages', 'Beverages', 'Drink'), (10, 'Washington', 'Washington Apple Juice', 22114084362, 1.4200, 8.13, 7.13, 1, 0, 28, 14, 21.6, 7.32, 9.2, 'Juice', 'Pure Juice Beverages', 'Beverages', 'Drink'), (312, 'Excellent', 'Excellent Berry Juic
END OF QUERY:
0, 10.2, 9.19, 1, 1, 28, 5, 19.2, 17.3, 8.37, 'Jam', 'Jams and Jellies', 'Baking Goods', 'Food'), (1242, 'Plato', 'Plato Grape Jam', 90940855145, 1.9800, 19.9, 17.8, 0, 0, 24, 12, 14.9, 9.62, 11.8, 'Jam', 'Jams and Jellies', 'Baking Goods', 'Food'), (1243, 'Plato', 'Plato Apple Jam', 19803189635, 1.1800, 9.7, 8.69, 1, 1, 5, 8, 5.94, 22.5, 19.4, 'Jam', 'Jams and Jellies', 'Baking Goods', 'Food'), (1244, 'Plato', 'Plato Strawberry Jam', 27857809662, 1.2100, 19.0, 17.0, 1, 0, 24, 8, 6.41, 3.45, 18.3, 'Jam', 'Jams and Jellies', 'Baking Goods', 'Food'), (1553, 'CDR', 'CDR Grape Jam', 31972586512, 1.8600, 13.5, 10.5, 1, 0, 16, 6, 20.7, 9.45, 6.96, 'Jam', 'Jams and Jellies', 'Baking Goods', 'Food'), (1554, 'CDR', 'CDR Apple Jam', 37740505337, 2.5400, 21.0, 19.0, 1, 1, 25, 8, 8.25, 18.8, 21.9, 'Jam', 'Jams and Jellies', 'Baking Goods', 'Food'), (1555, 'CDR', 'CDR Strawberry Jam', 89651774764, 2.9500, 21.7, 18.7, 1, 1, 18, 8, 14.2, 21.4, 16.0, 'Jam', 'Jams and Jellies', 'Baking Goods', 'Food');
Query successful
Ingestion process has completed!
Columns to be inserted:  store_id, store_type, store_name, store_number, store_street_address, store_city, store_state, store_postal_code, store_country, store_manager, store_phone, store_fax, first_opened_date, last_remodel_date, store_sqft,grocery_sqft, frozen_sqft, meat_sqft, coffee_bar, video_store, salad_bar, prepared_food,florist
Columns in the data extracted:  ['store_id', 'store_type', 'store_name', 'store_number', 'store_street_address', 'store_city', 'store_state', 'store_postal_code', 'store_country', 'store_manager', 'store_phone', 'store_fax', 'first_opened_date', 'last_remodel_date', 'store_sqft', 'grocery_sqft', 'frozen_sqft', 'meat_sqft', 'coffee_bar', 'video_store', 'salad_bar', 'prepared_food', 'florist']
SQL query is generated at 2023-04-14 02:17:43.972506
START OF QUERY:
 INSERT INTO inventory_dwh.stores (store_id, store_type, store_name, store_number, store_street_address, store_city, store_state, store_postal_code, store_country, store_manager, store_phone, store_fax, first_opened_date, last_remodel_date, store_sqft,grocery_sqft, frozen_sqft, meat_sqft, coffee_bar, video_store, salad_bar, prepared_food,florist)
 VALUES (0, 'HeadQuarters', 'HQ', 0, '1 Alameda Way', 'Alameda', 'CA', '55555', 'USA', Null, Null, Null, Null, Null, Null, Null, Null, Null, 0, 0, 0, 0, 0), (1, 'Supermarket', 'Store 1', 1, '2853 Bailey Rd', 'Acapulco', 'Guerrero', '55555', 'Mexico', 'Jones', '262-555-5124', '262-555-5121', '1982-01-09 00:00:00', '1990-12-05 00:00:00', 23593.0, 17475.0, 3671.0, 2447.0, 0, 0, 0, 0, 0), (2, 'Small Grocery', 'Store 2', 2, '5203 Catanzaro Way', 'Bellingham', 'WA', '55555', 'USA', 'Smith', '605-555-8203', '605-555-8201', '1970-04-02 00:00:00', '1973-06-04 00:00:00', 28206.0, 22271.0, 3561.0, 2374.0, 1, 0, 0, 0, 0), (3, 'Supermarket', 'Store 3', 3,
END OF QUERY:
897-555-1931', '1980-02-06 00:00:00', '1987-04-09 00:00:00', 34452.0, 27463.0, 4193.0, 2795.0, 1, 0, 0, 0, 1), (21, 'Deluxe Supermarket', 'Store 21', 21, '4093 Steven Circle', 'San Andres', 'DF', '55555', 'Mexico', 'Jones', '493-555-4781', '493-555-4781', '1986-02-07 00:00:00', '1990-04-16 00:00:00', Null, Null, Null, Null, 1, 0, 1, 1, 1), (22, 'Small Grocery', 'Store 22', 22, '9606 Julpum Loop', 'Walla Walla', 'WA', '55555', 'USA', 'Byrg', '881-555-5117', '881-555-5111', '1951-01-24 00:00:00', '1969-10-17 00:00:00', Null, Null, Null, Null, 0, 0, 0, 0, 0), (23, 'Mid-Size Grocery', 'Store 23', 23, '3920 Noah Court', 'Yakima', 'WA', '55555', 'USA', 'Johnson', '170-555-8424', '170-555-8421', '1977-07-16 00:00:00', '1987-07-24 00:00:00', Null, Null, Null, Null, 0, 0, 0, 0, 0), (24, 'Supermarket', 'Store 24', 24, '2342 Waltham St.', 'San Diego', 'CA', '55555', 'USA', 'Byrd', '111-555-0303', '111-555-0304', '1979-05-22 00:00:00', '1986-04-20 00:00:00', Null, Null, Null, Null, 1, 0, 1, 0, 1);
Query successful
Ingestion process has completed!
Columns to be inserted:  warehouse_id, stores_id, warehouse_name, wa_address1, wa_address2, wa_address3, wa_address4, warehouse_city, warehouse_state_province, warehouse_postal_code, warehouse_country, warehouse_owner_name, warehouse_phone, warehouse_fax
Columns in the data extracted:  ['warehouse_id', 'stores_id', 'warehouse_name', 'wa_address1', 'wa_address2', 'wa_address3', 'wa_address4', 'warehouse_city', 'warehouse_state_province', 'warehouse_postal_code', 'warehouse_country', 'warehouse_owner_name', 'warehouse_phone', 'warehouse_fax']
SQL query is generated at 2023-04-14 02:17:43.976667
START OF QUERY:
 INSERT INTO inventory_dwh.warehouses (warehouse_id, stores_id, warehouse_name, wa_address1, wa_address2, wa_address3, wa_address4, warehouse_city, warehouse_state_province, warehouse_postal_code, warehouse_country, warehouse_owner_name, warehouse_phone, warehouse_fax)
 VALUES (1, 1, 'Salka Warehousing', '9716 Alovera Road', Null, Null, Null, 'Acapulco', 'Guerrero', '55555', 'Mexico', Null, '821-555-1658', '594-555-2908'), (2, 2, 'Foster Products', '958 Hilltop Dr', Null, Null, Null, 'Bellingham', 'WA', '55555', 'USA', Null, '315-555-8947', '119-555-3826'), (3, 3, 'Destination, Inc.', '4162 Euclid Ave', Null, Null, Null, 'Bremerton', 'WA', '55555', 'USA', Null, '517-555-3022', '136-555-4501'), (4, 4, 'Anderson Warehousing', '5657 Georgia Dr', Null, Null, Null, 'Camacho', 'Zacatecas', '55555', 'Mexico', Null, '681-555-1655', '946-555-4848'), (5, 5, 'Focus, Inc.', '9116 Tice Valley Blv.', Null, Null, Null, 'Guadalajara', 'Jalisco', '55555', 'Mexico', Null, '344-555-5530', '379-555-9065'
END OF QUERY:
9 Cape Cod Way', Null, Null, Null, 'Hidalgo', 'Zacatecas', '55555', 'Mexico', Null, '609-555-5413', '952-555-8492'), (19, 19, 'Bellmont Distributing', '5900 May Rd', Null, Null, Null, 'Vancouver', 'BC', '55555', 'Canada', Null, '226-555-5335', '361-555-7385'), (20, 20, 'Rose Food Warehousing', '9104 Jacobsen Street', Null, Null, Null, 'Victoria', 'BC', '55555', 'Canada', Null, '143-555-7496', '332-555-1803'), (21, 21, 'Derby and Hunt', '600 Lake Nadine Place', Null, Null, Null, 'San Andres', 'DF', '55555', 'Mexico', Null, '922-555-5214', '618-555-6578'), (22, 22, 'Valdez Warehousing', '6714 Roundtree Court', Null, Null, Null, 'Walla Walla', 'WA', '55555', 'USA', Null, '301-555-8174', '666-555-9881'), (23, 23, 'Maddock Stored Foods', '8463 Kim Court', Null, Null, Null, 'Yakima', 'WA', '55555', 'USA', Null, '803-555-8978', '630-555-2485'), (24, 24, 'Jorgensen Service Storage', '4832 Park Glen Ct', Null, Null, Null, 'San Diego', 'CA', '55555', 'USA', Null, '259-555-2824', '470-555-4760');
Query successful
Ingestion process has completed!
Columns to be inserted:  time_id, the_date, the_day, the_month, the_year, day_of_month, week_of_year, month_of_year, quarter
Columns in the data extracted:  ['time_id', 'the_date', 'the_day', 'the_month', 'the_year', 'day_of_month', 'week_of_year', 'month_of_year', 'quarter']
SQL query is generated at 2023-04-14 02:17:44.027823
START OF QUERY:
 INSERT INTO inventory_dwh.time_by_day (time_id, the_date, the_day, the_month, the_year, day_of_month, week_of_year, month_of_year, quarter)
 VALUES (738, '1998-01-07 00:00:00', 'Wednesday', 'January', 1998, 7, 4, 1, 'Q1'), (739, '1998-01-08 00:00:00', 'Thursday', 'January', 1998, 8, 4, 1, 'Q1'), (740, '1998-01-09 00:00:00', 'Friday', 'January', 1998, 9, 4, 1, 'Q1'), (741, '1998-01-10 00:00:00', 'Saturday', 'January', 1998, 10, 4, 1, 'Q1'), (742, '1998-01-11 00:00:00', 'Sunday', 'January', 1998, 11, 5, 1, 'Q1'), (743, '1998-01-12 00:00:00', 'Monday', 'January', 1998, 12, 5, 1, 'Q1'), (744, '1998-01-13 00:00:00', 'Tuesday', 'January', 1998, 13, 5, 1, 'Q1'), (745, '1998-01-14 00:00:00', 'Wednesday', 'January', 1998, 14, 5, 1, 'Q1'), (746, '1998-01-15 00:00:00', 'Thursday', 'January', 1998, 15, 5, 1, 'Q1'), (747, '1998-01-16 00:00:00', 'Friday', 'January', 1998, 16, 5, 1, 'Q1'), (748, '1998-01-17 00:00:00', 'Saturday', 'January', 1998, 17, 5, 1, 'Q1'), (749, '1998-01-18 00:00:00', 'Sunda
END OF QUERY:
84, '1998-12-19 00:00:00', 'Saturday', 'December', 1998, 19, 2, 12, 'Q4'), (1085, '1998-12-20 00:00:00', 'Sunday', 'December', 1998, 20, 3, 12, 'Q4'), (1086, '1998-12-21 00:00:00', 'Monday', 'December', 1998, 21, 3, 12, 'Q4'), (1087, '1998-12-22 00:00:00', 'Tuesday', 'December', 1998, 22, 3, 12, 'Q4'), (1088, '1998-12-23 00:00:00', 'Wednesday', 'December', 1998, 23, 3, 12, 'Q4'), (1089, '1998-12-24 00:00:00', 'Thursday', 'December', 1998, 24, 3, 12, 'Q4'), (1090, '1998-12-25 00:00:00', 'Friday', 'December', 1998, 25, 3, 12, 'Q4'), (1091, '1998-12-26 00:00:00', 'Saturday', 'December', 1998, 26, 3, 12, 'Q4'), (1092, '1998-12-27 00:00:00', 'Sunday', 'December', 1998, 27, 4, 12, 'Q4'), (1093, '1998-12-28 00:00:00', 'Monday', 'December', 1998, 28, 4, 12, 'Q4'), (1094, '1998-12-29 00:00:00', 'Tuesday', 'December', 1998, 29, 4, 12, 'Q4'), (1095, '1998-12-30 00:00:00', 'Wednesday', 'December', 1998, 30, 4, 12, 'Q4'), (1096, '1998-12-31 00:00:00', 'Thursday', 'December', 1998, 31, 4, 12, 'Q4');
Query successful
Ingestion process has completed!
Columns to be inserted:  product_id, time_id, warehouse_id, store_id, units_ordered, units_shipped, warehouse_sales, warehouse_cost, supply_time, store_invoice, promotion_id
Columns in the data extracted:  ['product_id', 'time_id', 'warehouse_id', 'store_id', 'units_ordered', 'units_shipped', 'warehouse_sales', 'warehouse_cost', 'supply_time', 'store_invoice', 'promotion_id']
SQL query is generated at 2023-04-14 02:17:44.708242
START OF QUERY:
 INSERT INTO inventory_dwh.inventory_fact (product_id, time_id, warehouse_id, store_id, units_ordered, units_shipped, warehouse_sales, warehouse_cost, supply_time, store_invoice, promotion_id)
 VALUES (350, 369, 2, 2, 42, 42, 23.9610, 11.7409, 6, 13.7369, 27), (1397, 369, 2, 2, 87, 82, 63.3204, 22.1621, 5, 25.7080, 27), (267, 369, 2, 2, 94, 94, 28.8674, 12.1243, 5, 13.8217, 27), (1270, 369, 2, 2, 44, 44, 37.8752, 13.6351, 3, 16.0894, 27), (234, 369, 2, 2, 12, 4, 4.6440, 1.7647, 4, 2.0823, 27), (1370, 369, 2, 2, 15, 15, 13.5660, 5.2907, 5, 6.1901, 27), (1493, 369, 2, 2, 32, 32, 68.4288, 24.6344, 5, 28.3296, 27), (710, 369, 2, 2, 30, 30, -20.3490, -11.5989, 4, 13.2227, 27), (354, 369, 2, 2, 16, 16, 12.9600, 6.6096, 3, 7.4028, 27), (277, 369, 2, 2, 49, 49, 56.6832, 17.5718, 5, 20.2076, 27), (94, 369, 2, 2, 95, 95, 34.1620, 12.9816, 6, 14.9288, 27), (1130, 391, 2, 2, 92, 92, 69.8740, 25.1546, 4, 28.9278, 27), (1362, 391, 3, 3, 52, 52, 34.0912, 16.7047, 4, 19.8786, 27), (1139, 391, 3, 3, 4
END OF QUERY:
.8245, 0), (883, 1072, 24, 24, 72, 20, 24.9400, 10.9736, 2, 12.9488, 0), (1246, 1072, 24, 24, 26, 26, 18.8188, 8.2803, 2, 9.1083, 0), (890, 1072, 24, 24, 41, 41, 47.0844, 19.3046, 1, 21.6212, 0), (1458, 1091, 24, 24, 72, 72, 83.5200, 25.8912, 2, 30.2927, 0), (1474, 1091, 24, 24, 74, 49, 31.6050, 11.3778, 3, 13.1982, 0), (1425, 1091, 24, 24, 89, 89, 110.5914, 44.2366, 2, 49.9874, 0), (15, 1091, 24, 24, 85, 85, 89.5390, 43.8741, 3, 48.7003, 0), (1125, 1091, 24, 24, 61, 61, 40.4430, 23.8614, 3, 27.2020, 0), (915, 1091, 24, 24, 83, 83, 76.2272, 29.7286, 1, 34.4852, 0), (1131, 1091, 24, 24, 91, 91, 82.9920, 42.3259, 1, 49.0980, 0), (482, 1091, 24, 24, 26, 26, 7.0226, 2.8090, 4, 3.2304, 0), (871, 1091, 24, 24, 35, 35, 28.4480, 8.8189, 1, 9.7890, 0), (848, 1091, 24, 24, 63, 63, 61.2234, 31.2239, 4, 36.5320, 0), (1331, 1091, 24, 24, 98, 10, 11.7820, 6.1266, 4, 7.1069, 0), (1441, 1091, 24, 24, 34, 34, 18.2614, 10.4090, 4, 12.4908, 0), (1524, 1091, 24, 24, 34, 34, 14.5656, 7.1371, 4, 8.2790, 0);
Query successful
Ingestion process has completed!